<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="">Passenger</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/usa">USA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user">User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/product">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/quote">Quote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">Todo</a>
      </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/userinfo" tabindex="-1" aria-disabled="true">User Info</a>
    </li>
  </ul>
  <br>
